body
{
    padding: 0%;
    margin: 10px;
    text-align: center;
    background-color: rgb(143, 214, 211);
}
button
{
    padding: 10px;
    font-weight: bold;
    background-color: rgb(27, 117, 201);
    color: #000;
}